@import url('https://fonts.cdnfonts.com/css/walt-disney-script');



body{
    margin: 0;
    background-color: #2e5090;
}

.container{
    font-family: 'Walt Disney Script', sans-serif;
}

.header{
    background: #000;
    color: #fff;
    height: 60px;
    border-bottom: 5px solid    #333;
}

.header 